bootstrap/cache/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
node_modules
.git
.idea
.gitignore
.gitattributes
.sass-cache
*.env*
*.config.js
.dockerignore
Dockerfile
docker-compose.yml
.docker/*
!.docker/supervisor*
!.docker/php
!.docker/docker-entrypoint.sh
.vscode
README.md
.editorconfig
vendor
./supervisord*
horizon.log
_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php
public/js/chunks/*
public/js/app.js
public/js/manifest.js
public/js/vendor.js
public/css/app.css
public/mix-manifest.json
